<!DOCTYPE html>
<html>
<head>
<style>
    body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}


.output{
    font-weight: bold;
    background-color: bisque;
    border: black solid 3px;
    padding: 5em;
}
</style>
<meta charset="utf-8"> 
<title>Jenkins Assignment 2.4</title>
</head>
<body>
   
    <h2>Message:</h2>
    <div class="output">
    <span><%= firstName %></span><br>
    <span><%= lastName %></span><br>
    <span><%= address %></span>
    </div>
</body>
</html>