<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
</head>

<body>
<nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar">
    <li class="nav-item active">
        <a href="" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">About</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container" role="main">
<br><br>
<h2><%= message %></h2>
</div>

</body>
</html>