<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Jenkins 5.2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container"> 
        <h3>Names of People</h3>

        <% if (names.length > 0) { %>

            <% for (var k = 0; k < names.length; k++) { %>
                <div class="alert alert-success">
                    <strong><%= names[k] %></strong></div>
            <% } %>
        <% } %>
    </div>
</body>
</html>