<%- include("header") %>
<%- include("navbar") %>
<body>

    <h1><%= message %></h1>
    <br>
    <h2>This is my landing page for the EJS page</h2>
    <br>
    <div class="img">
        <img src="/images/team.png" alt="Team Image">
    </div>



</body>

<%- include("footer") %>