<%- include("header") %>
<%- include("navbar") %>

    <br><br><br>
    <h1><%= message %></h1>
    <br><br><br>
    <h2>This is my landing page for the EJS page</h2>
    <br>
    <div class="img">
        <img src="/images/team.png" alt="Team Image">
    </div>





<%- include("footer") %>