<%- include("header") %>
<%- include("navbar") %>
<body>

    <h1><%= message %></h1>
    <br>
    <table>
        <tr>
            <th>Emp Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Title</th>
        </tr>
        <tr>
            <td>1001</td>
            <td>James</td>
            <td>Michael</td>
            <td>Programmer</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>Hopkins</td>
            <td>Sally</td>
            <td>Web Designer</td>
        </tr>
        <tr>
            <td>1003</td>
            <td>Paul</td>
            <td>Chris</td>
            <td>Graphic Designer</td>
        </tr>
        <tr>
            <td>1004</td>
            <td>Myers</td>
            <td>Sarah</td>
            <td>UI/UX Designer</td>
        </tr>

    </table>


</body>

<%- include("footer") %>